.about {
max-width: 1184px;
margin: 0 auto;
padding: 112px 2rem 190px;
}
.about__img {
width: 100.21px;
height: 100.21px;
padding:3px;
border: 4px solid  #CBD2D9;
background-color: #FFFFFF;
border-radius: 50%; 
}
.about__title {

max-width: 781px;
font-size: 2.5rem;
margin: 2rem 0 1rem;
}
.about__paragraph{

line-height: 2.25rem;
font-size: 1.25rem;
font-style: normal;
font-weight: 300;
max-width: 781px;
}
.about__email, .contact__email {

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 1.25rem;
margin-top: 2.25rem;
color: #0593FB;
text-decoration: none;
width:100%;
margin-bottom: 8px;
border-bottom: 2px solid #0593FB;  
}
.idLink {
    text-decoration-line: underline;
    color:#0593FB;
    cursor: pointer;
}