@media(max-width: $mobile) {
html {
    font-size: 12px;
}
    .body {
            background: #ffffff;
            border: none;
    
           }
           .about {
           max-width: 340px;
           }

           .about__paragraph {
               height: 0%;
               font-family: Poppins;
               font-style: normal;
               font-weight: 300;
               font-size: 0.9rem;
               line-height: 26px;
               color: #52606D;
           }
           .about__title {
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 36px;
           }
           .skills {
               display: grid;
               grid-template-columns: 1fr;
               max-width: 370px;
           }
       .skills__title {
        text-align: center;
        font-size: 1.5rem;
           }
        .skills__article {
            display:grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);
            height: 25rem;
        }
        .skills__list {
            display:flex;
            flex-direction: column;
    }
    .knowing {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        height: 25rem;
    }
    .knowing__list {
        display:flex;
        flex-direction: column;
}
.learn {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    height: 25rem;
}
.learn__list {
    display:flex;
    flex-direction: column;
}
.projects {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 500px;
}
.projects__title {
    text-align: center;
}
.projects__div {
    display: grid;
    grid-template-columns: 1fr;
}
}